.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.game {
  position: relative;
  width: 100vw;
  height: 45vw;
  background-color: #333;
  user-select: none;
}

.platform {
  position: absolute;
  height: 2vw;
  bottom: -1vw;
  background-color: grey;
}

.vehicle {
  position: absolute;
  background-color: lightblue;
}

.coin {
  position: absolute;
  background-color: yellow;
}
