pre,
h3 {
  margin: 0;
  color: white;
}

h3 {
  font-size: 3vw;
}
pre {
  font-size: 1vw;
}

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.scene {
  position: relative;
  background-color: #333;
  user-select: none;
}

.platform {
  position: absolute;
  height: 2vw;
  bottom: -1vw;
  background-color: grey;
}

.vehicle {
  position: absolute;
  background-color: lightblue;
}

.coin {
  position: absolute;
  background-color: yellow;
}

.ViewportWarning {
  position: fixed;
  bottom: 0;
  background-color: darkred;
  color: white;
  padding: 2em;
  width: 100vw;
}

@media (min-height: 42vw) {
  .ViewportWarning {
    display: none;
  }
}
