pre,
h3 {
  margin: 0;
  color: white;
}

h3 {
  font-size: 3vw;
}
pre {
  font-size: 1vw;
}

.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.GamePad {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.scene {
  position: relative;
  background-color: #333;
  user-select: none;
}

.platform {
  position: absolute;
  height: 2vw;
  bottom: -1vw;
  background-color: grey;
}

.vehicle {
  position: absolute;
  background-color: lightblue;
}

@keyframes animate-coin {
  100% {
    background-position: -48vw;
  }
}

.Coin {
  position: absolute;
  /* coin-sprite is 76 x 76, with 7 frames, so 532px wide */
  /* the first and the last frames are the same, so it's effectively 6 frames, 432px wide */
  background-image: url("coin-sprite.png");
  background-size: cover;
  animation: animate-coin 1s steps(6) infinite;
}

.ViewportWarning {
  position: fixed;
  bottom: 0;
  background-color: darkred;
  color: white;
  padding: 2em;
  width: 100vw;
}

@media (min-height: 42vw) {
  .ViewportWarning {
    display: none;
  }
}
